.button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    border-radius: 100vmax;
    transition: all 100ms ease-in-out;
}

.button:disabled {
    filter: brightness(0.8);
    cursor: none;
}

.button:disabled:hover {
    filter: brightness(0.8);
    cursor: auto;
}


.button:hover {
     filter: brightness(0.9);
}
